<div class="footer">
  <div class="about_comp">
    <img src="../../assets/logo2.png" alt="" />
    <p>One of the best furniture agency.</p>
  </div>

  <div class="contacts">
    <div class="label">
      <div class="circle"></div>
      <p>Enter your email to get the laterst news</p>
    </div>
    <div class="input">
      <img (click)="subscribeToEmail()" class="arrow" src="../../assets/arrow.png" alt="" />
      <input type="text" placeholder="Email Address" name="" id="" />
    </div>
    <div class="follow">
      <p>Follow us On</p>
      <div class="contact_icons">
        <img (click)="navigate()" src="../../assets/fb.png" alt="" />
        <img (click)="navigate()" src="../../assets/inst.png" alt="" />
        <img (click)="navigate()" src="../../assets/tik.png" alt="" />
        <img (click)="navigate()" src="../../assets/youtube.png" alt="" />
      </div>
    </div>
  </div>
</div>
