<div class="texts">
  <p class="title">Minimalist Room</p>
  <p class="description">
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout.
  </p>
</div>

<img class="img1" src="../../assets/img1.png" alt="" />

<div class="texts_container">
  <div>
    <p class="text_title">Project Overview</p>
    <p class="text_description">
      Online learning with us does not interfere with your daily life. because
      learning can be done anytime and anywhere. Online learning with us does
      not interfere with your daily life. because learning can be done anytime
      and anywhere. Online learning with us does not interfere with your daily
      life. because learning can be done anytime and anywhere.
    </p>
    <div class="text_footer">
      <p class="text_description">July 22 - 2022</p>
      <p class="text_description">Interior Design - Furnitur</p>
    </div>
  </div>
  <div>
    <p class="text_title">Design Process</p>
    <p class="text_description">
      Online learning with us does not interfere with your daily life. because
      learning can be done anytime and anywhere. Online learning with us does
      not interfere with your daily life. because learning can be done anytime
      and anywhere.
    </p>
    <p class="text_description text_2">
      Online learning with us does not interfere with your daily life. because
      learning can be done anytime and anywhere. Online learning with us does
      not interfere with your daily life. because learning can be done anytime
      and anywhere.
    </p>
  </div>
</div>

<div class="images_2">
  <div class="images_group">
    <img src="../../assets/img2.png" alt="" />
    <img src="../../assets/img3.png" alt="" />
  </div>
  <img class="center_image" src="../../assets/img4.png" alt="" />
  <div class="images_group">
    <img src="../../assets/img5.png" alt="" />
    <img src="../../assets/img6.png" alt="" />
  </div>
</div>
